
#container{
    margin: 0 auto;
    width: 960px;
    display: flex;
    align-content: center; 
}
.geral{
    margin: 0 auto;
    width: 960px;
}
.caixa{
    display: flex;
    flex-direction: column;
}
p{
    color: #F6AE2D;
    font-size: 25px;
}
.lista{
    color: #F6AE2D;
    font-size: 25px;
}
h2{
    color: white;
    font-size: 35px;
    font-weight: bolder;
}
.info{
    display: flex;
    align-items: center;
}
.texto{
    display: flex;
    flex-direction: column;
}
.features{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#txt{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.beneficios{
    display: flex;
    justify-content: space-between;
    align-items: center;
}