
#produtoimagens{
    background-color: white;
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;

    justify-content: center;
    padding-bottom: 15px;   
    border-radius: 15px;
    border-top-width: 15px;
    border-left-width: 5x;
    border-right-width: 5x;
    border-bottom-width: 5x;
    border-color: #F6AE2D;
    border-style: solid;
}
.container2{
    display: flex;
    align-content: center;
}

.imagens-p1, .texto{
    display: inline-block;
}
 .texto{
     color:#F6AE2D;
     float: right;
     font-family: Arial, Helvetica, sans-serif;
     width:200px;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
 }
 
.imagem-g, .imagens-p{
     background-color:white;
     margin-bottom: 50px;
 }
 .imagens-p{
     width: 110px;
     display: flex;
     flex-direction: column;
 }
 .imagem-g{
     position: relative;
     width: 250px;
 }
 .preco{
     background-color:#F6AE2D;
     font-weight: bold;
     color: white;
     width:200px;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
 }
 .imagens{
     display: flex;
     align-content: center;
     justify-content: center;
     margin: 0 auto;

 }
 .img1{
     flex:1 1 200px;
     margin-left: 25px;
     margin-right: 25px;
     height: 300px;
     background-size: cover;
 }